@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ededed;
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);

  background-image: linear-gradient(to right, #1a1a1a 1px, transparent 1px),
    linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
  background-size: 50px 50px;
  min-height: 100vh;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #050505;
}

::-webkit-scrollbar-thumb:hover{
  background: #22c55e;
}